<p>This demo shows how to render a pop-up tip from a component. The component, in turn, renders a static markdown file.
    <span class="overlay-trigger" (mouseenter)="display()" (mouseout)="overlayRef.detach()" #markdown>Markdown</span> 
    is not a powerful tool&mdash;it can only render static data. However, it is remarkably easy to learn and use, so we use markdown for documentation.    
</p>
<p>Angular can render markdown files using ngx-markdown package. In addtion, you may use mermaid package to render various types of charts; prismjs package 
    to render source code with syntax highlighting; katex package to render complex math formulas.
</p>