<mat-toolbar color="primary" class="mat-elevation-z12">

    <div>
      <mat-icon [matMenuTriggerFor]="appMenu" class="mat-elevation-z2">menu</mat-icon>
    </div>
  
    <div>Angular Tips</div>
  
    <div>
      <mat-icon [routerLink]="['/help']" class="mat-elevation-z2">help</mat-icon> &nbsp;
    </div>
  
</mat-toolbar>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item [routerLink]="['/']"><mat-icon>home</mat-icon ></button>
  <button mat-menu-item [routerLink]="['/md-demo']">markdown</button>
  <button mat-menu-item [routerLink]="['/portal-demo']">portal</button>
  <button mat-menu-item [routerLink]="['/overlay-demo']">overlay</button>
  <button mat-menu-item [routerLink]="['/print-pdf']">print PDF</button>
</mat-menu>